/* Example of a custom SCSS class */
.homey-widget {
  background: linear-gradient(90deg, rgba(0, 65, 96, 1) 0%, rgba(1, 104, 155, 1) 100%);
  color: var(--homey-text-color-white);

  .labelgroup {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: last baseline;
  }

  .homey-title-container {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .homey-text-h1 {
    font-size: var(--homey-font-size-xlarge);
    max-width: 275px;
  }

  .homey-text-regular {
    font-size: var(--homey-font-size-medium);
    font-weight: var(--homey-font-weight-medium);
    max-width: 180px;
  }
  .homey-text-small {
    color: var(--homey-text-color-white);
  }

  &.custom-holiday .icon {
    -webkit-mask: url(./calendar.svg) no-repeat center;
    mask: url(./calendar.svg) no-repeat center;
  }

  &.is-active {
    background: linear-gradient(146deg, #0c6c3d 0%, rgba(83, 227, 55, 1) 100%);    
    .icon {
      -webkit-mask: url(./calendar_active.svg) no-repeat center;
      mask: url(./calendar_active.svg) no-repeat center;
    }
  }
  .text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
   
  }
}

#date {
  text-transform: capitalize;
}

.icon-circle {
  min-width: 42px;
  width: 42px;
  height: 42px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--homey-su-2);

  .icon {
    background-color: white;
    width: 95%;
    height: 95%;
    -webkit-mask: url(./icon.svg) no-repeat center;
    mask: url(./icon.svg) no-repeat center;
  }
}

.w-100 {
  width: 100%;
  line-height: 1.3;
}
